@font-face
  font-family 'ETenMing15'
  src url("/font/ETenMing15Minimal-Regular.eot")
  src url("/font/ETenMing15Minimal-Regular.eot?#iefix") format("embedded-opentype"), url("/font/ETenMing15Minimal-Regular.woff") format("woff"), url("/font/ETenMing15Minimal-Regular.ttf") format("truetype")
  font-style normal
  font-weight normal
  text-rendering optimizeLegibility

body
  font-family "Courier New", 'ETenMing15', Monaco, Menlo, Consolas, monospace, "PMingLiU","Heiti TC","Comic Sans","Comic Sans MS","Chalkboard","ChalkboardSE-Regular","Marker Felt","Purisa","URW Chancery L",cursive,sans-serif
  font-size 16px
  line-height 18px
  text-shadow none !important
  background-color black
  padding-top 100px
  +below(___)
    padding-top 0

pre
  background #000 !important
  color #00ff00 !important
  font medium/1.75 Consolas, "Andale Mono", Monaco, "Liberation Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace !important
  word-spacing 0 !important
  letter-spacing 0 !important
  padding 1em !important
  border-radius 0 !important
  min-height 200px
  box-sizing border-box

#page
  min-height 100vh
