<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">
        <img src="/images/old/netscape.gif" />
      </a>
      <div class="nav-collapse" id="main-menu">
        {% include partial/nav-main-menu-left.html %}
        {% include partial/nav-main-menu-right.html %}
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-fixed-bottom">
  <marquee behavior="scroll" direction="up" scrolldelay="50" style="height:30px;max-width: 100vw;">Hello World!</marquee>
</div>
