marquee
  color $green
  text-align right

.text-center
  text-align center !important

.container
  position relative

.alert
  text-shadow none
  // a
  //   background black

.navbar .brand img
  max-height 25px

.navbar .brand
.navbar .nav > li > a
  color black
  font-size 18px
  line-height 25px
  text-shadow none
  font-weight bold

.navbar .nav li.dropdown>.dropdown-toggle .caret
  border-top-color black
  border-bottom-color black

.navbar .nav li.dropdown.open>.dropdown-toggle
.navbar .nav li.dropdown.active>.dropdown-toggle
.navbar .nav li.dropdown.open.active>.dropdown-toggle
  background none

.navbar-fixed-bottom
  position fixed

.jumbotron h1
  +below(__)
    font-size 34px
    line-height 20px
    margin-bottom 0

.lead
  +below(__)
    font-size 18px

.dropdown-menu>li>a
  padding-top 10px
  padding-bottom 10px
  font-weight bold

.dropdown-menu>li>a:hover
.dropdown-menu>li>a:focus
  background-color black
  background-image none
  color $green

select
textarea
input[type="text"]
input[type="password"]
input[type="datetime"]
input[type="datetime-local"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="week"]
input[type="number"]
input[type="email"]
input[type="url"]
input[type="search"]
input[type="tel"]
input[type="color"]
.uneditable-input
  color #fff

textarea
  width 100%
  box-sizing border-box
  min-height 100px

.nav-list>.active>a
.nav-list>.active>a:hover
.nav-list>.active>a:focus
  color black

.nav-list .nav-header
  color white
  text-shadow none
  font-size 28px
  margin-top 24px

.nav-list
  padding-bottom 24px

.nav>li>a:hover
.nav>li>a:focus
  color black

.breadcrumb
  background-color #333
  *
    text-shadow none !important
    font-weight bold

.btn-link a
  text-decoration none !important

.modal
  background #0000b5
  border-radius 0
  padding 10px
