.kxgio-embed-form
  display none
  &.on
    display block

.kxgio-form-preview
  text-align center
  background-image url('/images/old/brick.gif')
  padding 20px
  box-sizing border-box
  margin-bottom 20px
