<div id="image-config-block" style="display: none;">
  <hr />
  <div class="control-group">
    <label class="control-label" for="kxgio-app">選擇文字圖模式</label>
    <div class="controls">
      <select id="kxgio-app">
        <option value="2qzmW72SO">靠北工程師文字圖</option>
        <option value="2PtsxZcjX">IT狗文字圖</option>
        <option value="40cNDdt3b">IE6文字圖</option>
      </select>
    </div>
    <div class="controls">
      <div id="kxgio-embed-2qzmW72SO" class="kxgio-embed-form on"></div>
      <div id="kxgio-embed-2PtsxZcjX" class="kxgio-embed-form"></div>
      <div id="kxgio-embed-40cNDdt3b" class="kxgio-embed-form"></div>
      <script src="//app.kxg.io/js/embed.js"></script>
      <script>
        var KxgioApp_2qzmW72SO = new KxgioApp({
          embed_token: "EAMCwYk3wI0ckOZ1965csXVyQu3UoaX2",
          app_container: 'kxgio-embed-2qzmW72SO',
          app_key: "2qzmW72SO",
          api_url: "/api/v2/generator/image/kobeengineer",
          show_buttons: false
        });
        var KxgioApp_2PtsxZcjX = new KxgioApp({
          embed_token: "MzFc9HjYk6y06nuSPNmH4eu4uYXnva7h",
          app_container: 'kxgio-embed-2PtsxZcjX',
          app_key: "2PtsxZcjX",
          api_url: "/api/v2/generator/image/comicdialog",
          show_buttons: false
        });
        var KxgioApp_40cNDdt3b = new KxgioApp({
          embed_token: "c6OpCK7rRUDCTg36vlA9ycYqnMr0Br8N",
          app_container: 'kxgio-embed-40cNDdt3b',
          app_key: "40cNDdt3b",
          api_url: "/api/v2/generator/image/ie6",
          show_buttons: false,
        });
      </script>
      <noscript>Please enable JavaScript to use this <a href="https://app.kxg.io/?ref_noscript" rel="nofollow">app powered by 骨灰級版主.</a></noscript>
    </div>
  </div>
  <hr />
</div>
