<div class="jumbotron subhead" id="hero">
  <div class="row">
    <div class="span6">
      <h1>
        <blink><FONT COLOR="#00ffff">Kobe</FONT></blink> <FONT COLOR="#ff00ff">.</FONT><FONT COLOR="#00ff00">Engineer</FONT>
      </h1>
      <p class="lead">Make Engineer Great Again</p>
      <table cellpadding="2" cellspacing="2">
        <tr>
          <td><img src="/images/old/computer.gif"></td>
          <td><img src="/images/old/noframes.gif"></td>
          <td><img src="/images/old/ie.gif"></td>
          <td><img src="/images/old/xibauzi.gif"></td>
        </tr>
      </table>
    </div>
    <div class="span6">
      <center>
        <img src="/images/old/8.gif">
        <img src="/images/old/9.gif">
        <img src="/images/old/10.gif">
        <img src="/images/old/13.gif" style="margin-bottom: -22px;">
      </center>
    </div>
  </div>
</div>
