<table class="table table-striped table-hover" id="posts-table">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">發文內容</th>
      <th class="text-center">發文狀態</th>
      <th class="text-center">新增時間</th>
      <th class="text-center">操作</th>
    </tr>
  </thead>
  <tbody></tbody>
  <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div class="pagination pagination-centered">
          <ul></ul>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
