<div class="user-view hide-verified-user-view">
  <div class="alert alert-block alert-danger">
    <div style="display: block; padding: 20px 0">
      <img class="pull-left" style="margin-top: -13px; margin-left: 20px;" src="/images/old/smill.gif">
      <h4 class="alert-heading">您尚未通過身份驗證！</h4>
    </div>
    <p>
      安安您好，為了維護本站的發文品質，<br />
      我們設定了一些條件作為帳戶的驗證依據：<br /><br />
      0.您必須使用GitHub帳號登入<br />
      1.若您使用GitHub登入，您的帳戶建立時間至少需達15天以上<br />
      <br />
      若您使用Facebook登入、或未達上述驗證條件時，發文將一律需經過網站管理員審核<br />
      您可以在達到以上條件時，點擊下方按鈕重新驗證帳戶，以享受即時發文的特權感
    </p>
    <div class="form-actions">
      <button type="button" class="btn btn-primary btn-large btn-block" id="button-reauth">
        Re-Authentication my account
      </button>
    </div>
  </div>
</div>
