---
layout: default
layout: default
permalink: /feed/authors/
page_title: Public Authors
header_image: kaktusz_thumb.gif
additional_script:
  - /js/page/feed-authors.js
---

<div class="row">
  <div class="span12">
    {% include partial/page-header.html %}
  </div>
</div>
<div class="row">
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list" id="feed-nav"></ul>
      <ul class="nav nav-list">
        <li class="nav-header">More</li>
        <li class="active"><a href="/feed/authors/">Public authors</a></li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div id="author-list">
      <div class="row"></div>
    </div>
    {% include partial/loading-progress.html %}
  </div>
</div>
