clearbutton()
  box-sizing border-box
  zoom 1
  background none
  border none
  margin 0
  padding 0
  outline none
  text-decoration none
  white-space nowrap
  user-select none
  appearance none
  -webkit-appearance none
