<div id="login-modal" class="modal hide fade guest-view" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="login-modal-label">請先登入</h3>
  </div>
  <div class="modal-body">
    <p>若要對這則貼文按靠北，請先登入</p>
    <p>
      <button type="button" class="btn btn-inverse btn-large btn-block button-github-login">
        GitHub 登入
      </button>
      <button type="button" class="btn btn-inverse btn-large btn-block button-facebook-login">
        Facebook 登入
      </button>
    </p>
  </div>
</div>
